body{
    padding: 0;
    margin: 0;
}
#container{
    height: auto;
    /* border: 2px solid red; */
    margin: auto;
    background-color:#fff0b8
}
#container>#cont2{
    display: flex;
    justify-content: space-around;
}
#cont2>div{
height: auto;
    /* border: 1px solid green; */
}
#cont2>div:nth-child(2){
    /* background-color: aqua; */
    display:flex;
    padding: 2px 2px;
    
}
#cont2>div:nth-child(2)>p{
        padding:  0px 10px;
    }
    #cont2>div:nth-child(3)>h3{
        padding:  0px 10px;
    }
#cont2>div:nth-child(3){
    /* background-color: aqua; */
    display:flex}
    #top{
text-align: center;
font-size: 30px;
    }
    #top>input{
        padding: 5px;
        padding-right: 200px;
        font-size: 20px;
        margin-bottom: 50px;
    
    }
    #mid>div>h1{
        text-align: center;
    }
.mid-c{
display: grid;
grid-template-columns: repeat(3,1fr);
padding: 0px 50px;
column-gap: 100px;
row-gap: 30px;

}
.mid-c>div{
display: flex;
justify-content:space-evenly;
}
.mid-c>div>div:nth-child(1){
width: 10%;
/* background-color: blue; */
padding-top: 15px;
}
.mid-c>div>div:nth-child(2){
width: 100%;
/* color: blue; */
}

#freq>div>h1{
text-align: center;
}
.fre1{
display: grid;
grid-template-columns: repeat(3,1fr);

}
#freq{
background-color: #f8f9fa;
padding: 20px 80px;
}
.fre1>div>
ul>li{
color: blue;
}
#down-1{
text-align: center;
background-color: #2542b8;
color: white;
padding:30px 0px
}
#down-1>button{
background-color:blue;
padding: 5px 15px;
color: wheat;

}
#down-1>button:hover{
background-color: white;
color: black;
}
#mid-1>div:nth-child(2){
display: flex;
justify-content: space-between;
pad: 20px 80px;
}
#mid-1>div:nth-child(2)>div{
width: 23%;
/* border-radius: 50px */
}
#mid-1>div:nth-child(2)>div>img{
border-radius: 20px;
width: 100%;
}
#mid-1{
padding: 10px 80px;
text-align: center;
}
#mid-1>h2{
color: #2542b8;
}
#descriptionPage{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: space-evenly;
    padding:40px 0px;
    background-color:#ebedf0;
}
#descriptionPage>img{
    margin-top:-110px;
    margin-left:-160px;
}
#descriptionPage>:nth-child(2)>div>a{
    text-decoration: none;
    color:black;
    margin-bottom: 15px;
}
#descriptionPage>:nth-child(3)>div>a{
    text-decoration: none;
    color:black;
    margin-bottom: 15px;
}
#descriptionPage>:nth-child(4),#descriptionPage>:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}